@using pg.demo.example.login.app.Models.viewModels
@model RegisterViewModel

@{
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row p-3 m-2">
	<div class="offset-4 col-4">
		<div class="card">
			<div class="card-header border-0 bg-light text-center">
				<h4>Register Form</h4>
			</div>
			<form asp-action="Register" asp-controller="Account" method="post">
				<div class="card-body">
					<div class="form-group mt-3">
						<label class="form-label">Name <span class="text-danger">*</span></label>
						<input asp-for="Name" class="form-control form-control-sm" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label class="form-label">Email <span class="text-danger">*</span></label>
						<input asp-for="Email" class="form-control form-control-sm" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label class="form-label">Confirm Email <span class="text-danger">*</span></label>
						<input asp-for="ConfirmEmail" class="form-control form-control-sm" />
						<span asp-validation-for="ConfirmEmail" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label class="form-label">Password <span class="text-danger">*</span></label>
						<input asp-for="Password" class="form-control form-control-sm" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label class="form-label">Confirm Password <span class="text-danger">*</span></label>
						<input asp-for="ConfirmPassword" class="form-control form-control-sm" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<div class="row">
							<div class="col-8">
								<a class="text-decoration-none" asp-action="login" asp-controller="Account">Click Here if you an Account</a>
							</div>
							<div class="col-4">
								<button type="submit" class="btn btn-primary">Let's Register</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial");
}